body,div,p,h2,b,h1,h3,h4,h5,div,span,section,ul,.wrapper.style2 input[type="submit"].special,li,footer,a,.button.fit.special,.button,header,nav,i,label,textarea{
  font-weight: bolder!important;
}
#boldSwitch,#boldSwitchMobile{
  text-decoration: underline;
}

#boldSwitchIconOn,#boldSwitchIconMobileOn{
  display: inline-block !important;
}
#boldSwitchIconOff,#boldSwitchIconMobileOff{
  display: none !important;
}


@media screen and (max-width: 1024px) {
  body{

  }
}
