body{
  font-size: x-large;
}
#fontSwitch,#fontSwitchMobile{
  text-decoration: underline;
}

#fontSwitchIconOn,#fontSwitchIconMobileOn{
  display: inline-block !important;
}
#fontSwitchIconOff,#fontSwitchIconMobileOff{
  display: none !important;
}


@media screen and (max-width: 1024px) {
  body{
    font-size: larger;
  }
}
