/*main CSS*/

body{
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  /*display: inline-block;*/
}


/*menu*/


#menu > #accessibilityMenu{
  bottom: 0;
  //position: absolute;
  margin-top: 100%;

}
.accessibilitySwitch > .fa{
  font-size: 200%;
}

/* landing page*/
.landingDIV{
  z-index: 1000999;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-color: #067778;
  transition: 2s opacity;
  opacity: 1;
  align-items: center;
  align-content: center;
  text-align: center;
}
.innerlandingDIV > img{
  height:  100vh;
}

.landingDIV > .innerlandingDIV{
  top: 40%;
  left: 50%;
  z-index: 1001;
  position: absolute;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.innerlandingDIV > p{
  color:white;
  text-align: center;
  font-family: sans-serif;
  font-size: 200%;
  opacity: 0;
  transition: 1s opacity;

}
#landingline1{
  font-size: 300%;
  text-decoration: underline;
  //margin-top: 45vh;
}
#landingline2{
    font-style: italic;
}






/*MOBILE CSS*/

@media screen and (max-width: 1024px){
	body{
		margin-left: 0;
		margin-right: 0;
	}

  #landingline1{
    font-size: 150%;
    //margin-top: 45vh;
  }
  #landingline2{
    font-size: 100%;
  }






}
